/vendor/
/node_modules/
.env
/storage/logs/*
/storage/cache/*
!.gitkeep
composer.lock
composer.local.json
.idea/
.vscode/
.DS_Store
Thumbs.db
example_demo/
/framework/vendor/
/framework/.phpunit.cache/
/framework/coverage/
/framework/composer.lock
/framework/.env.docker
.phpunit.cache/
/coverage/reference/larafony-demo-app/
reference/larafony-framework/
